/* ticket.css */

/* Estilo general del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Contenedor principal */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo del título */
h1 {
    font-size: 24px;
    text-align: center;
    color: #333;
}

/* Estilo de la imagen */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

/* Estilo de los párrafos */
p {
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: center; /* Centrar el texto */
    font-weight: bold; /* Negrita */
    font-size: 30px; /* Tamaño de fuente más grande */
}
/* Estilo de los botones */
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo de tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilo de los enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
